@tailwind base;
@tailwind components;
@tailwind utilities;
.color-active {
  color: #3bb77e;
}

.color-primary {
  color: #253d4e;
}

.color-secondary {
  color: #3bb77e;
}

.color-disabled {
  color: #adadad;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
