.newsletter-background {
  position: relative;
  background-color: #c5ead9c7;
}

.newsletter-background::before {
  content: "";
  background: url("../../../../../public//assets/home-main-bg.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
  background-color: white;
}
